html, body {
	height: 100%;

}


a {
}

a:hover {
	text-decoration: none;
	color: #FBC237;
}

header, #footer {
	margin: 2em auto;
	padding: 2em 3em;
	border-top: 8px solid #fff;
	border-bottom: 8px solid #fff;
	border-right: 8px dashed #fff;
}

header #tag {
	text-align: center;
	font-size: 4.5em;
	vertical-align: middle;
}


#footer {
	margin-top -100px;
}

#footer .car{
	bottom:5em;
	/* rotate */
    -moz-transform:rotate(12deg);
    -webkit-transform:rotate(12deg);
    -o-transform:rotate(12deg);
    -ms-transform:rotate(12deg);

}

.container {
	padding: 0px;
	text-align: center;
}



#feed {
	text-align: center;
	display: block;
	margin: 2em auto;
	
}

.item {
	float: left;
	margin:10px;
		width: 270px;
	margin-bottom: 20px;
	border: 5px solid #fff;

}

.item  .tweet-wrapper{
		padding:5px;
		background-color: #fff;
			color:#2f3339;	
}


.item:hover {
	
	border-color: #FBC237;
}

.item b{
	border-bottom: 2px solid #FBC237;
}


/*
* Loading icon
*/

#loading {
	padding-top:50px;
}

#loading .glyphicon{
    font-size: 4em;
    color:#FBC237;
}
 
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}


/* Sticky footer styles
 -------------------------------------------------- */

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -100px;
}

/* Set the fixed height of the footer here */
#push, #footer {
	height: 100px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
